# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
env/
*.env

# IDE
.vscode/
.idea/

# Logs
*.log

# Dependency directories
lib/
lib64/
bin/
include/
share/

# Build files
build/
dist/
*.egg-info/
*.egg

# Compiled files
*.pyc
*.pyo

# Miscellaneous
*.swp
.DS_Store